ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 98%;
    margin-top: 1rem;
    padding: 0;
}

li {
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color:rgb(157, 116, 232) ;
    width: 90%;
    margin: .5rem;
    padding: 8px;
    color: rgb(255, 255, 255);
    border-radius: 1rem;
    font-family: 'Arial Narrow Bold', sans-serif;
}

.check1 {
    width: 20px;
    margin: 0%;
    padding: 5px;
}

.espacioTarea {
    width: 200px;
    margin: 0%;
    padding: 5px;
}

.buttonEdit {
    width: 70px;
    margin-right: 7px;
    padding: 5px;
    border-radius: 1rem;
    background-color: deepskyblue;
    color: white;
}

.buttonDelete {
    width: 70px;
    margin: 0%;
    padding: 5px;
    border-radius: 1rem;
    background-color: deepskyblue;
    color: white;
}