body {
    display: flex;
    justify-content: center;
    border: black solid;
    margin: auto;
    margin-top: 200px;
    max-width: 350px;
    height: 400px;
}
a {
    background-color: aqua;
    display: flex;
    justify-content: center;
    text-decoration: none;
    
}
input{
    display: inline-block;
    max-width: 100%;
}