.App {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(233, 217, 219), rgb(50, 223, 192));
    max-width: 350px;
    align-items: center;
    margin: auto;
    margin-top: 150px;
    border: none;
    min-height: 600px;
    border-radius: 5px;
    border: black solid;
    position:relative;
}